/*
*	NEXT - MINIMAL MULTIPURPOSE HTML TEMPLATE (HTML version)
* 	Copyright 2016
* 	www.mutationmedia.net
* 	Created by : mutationthemes
*
*/


/* Table of Content
==================================================
	1.Preloader
	2.Site wrapper
	3.Aside and navigation
	4.Hero Section
	5.About section
	6.Quote section
	7.Testimonials section
	8.Services section
	9.Pricing section
	10.Client section
	11.Team section
	12.Facts section
	13.Skills section
	14.Process section
	15.Portfolio section
	16.Contact section
	17.Footer
	18.Media queries





/*Preloader*/

.loader {
    /* background: #ffffff; */
    background: rgba(5, 14, 70, 1);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loader-inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    opacity: .9;
    text-align: center;
}
.loader-inner h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}


/*End preloader*/


/*Site wrapper*/

.wrapper {
    position: relative;
}
.inner-wrapper {
    background-color: #fff;
    margin: 2rem;
    width: inherit;
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
}


/*End site wrapper*/


/*Aside and navigation*/

.offest-nav-canvas {
    backface-visibility: hidden;
    background: #ffffff;
    bottom: 0;
    box-sizing: content-box;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(320px, 0px, 0px);
    -webkit-transform: translate3d(320px, 0px, 0px);
    -moz-transform: translate(320px, 0px);
    -moz-transform: translate3d(320px, 0px, 0px);
    -ms-transform: translate3d(320px, 0px, 0px);
    -ms-transform: translate(320px, 0px);
    width: 320px;
    z-index: 1001;
}
.mask-overlap .mask-canvas {
    backface-visibility: hidden;
    bottom: 0;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}
.mask-canvas {
    background: rgba(45, 97, 158, 0.7) !important;
}
.offest-nav-canvas.show-nav {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate(0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate(0, 0px);
}
.menu {
    padding: 70px 50px 35px 50px;
}
.menu > li {
    font-size: 16px;
    letter-spacing: 0;
    position: relative;
}
.menu > li > a {
    color: #333333;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
}
.menu > li > a:hover {
    opacity: .6;
}
.socials-nav .socials {
    padding: 9px 45px 0;
}
.socials > li {
    display: inline-block;
    margin-right: 10px;
}
.socials > li > a {
    color: #9e9898;
    opacity: .6;
}
.socials > li > a:hover {
    opacity: 1;
}
.socials > li > a i {
    font-size: 20px;
}


/*End aside and navigation*/


/* Hero Section*/

section.hero {
    background-color: #468ee4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}
section.hero.pages {
    height: 450px;
}
section.hero img{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
section.hero .video {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height:50vh;
}
section.hero .video video {
    height: 90vh;
    left: 50%;
    /* min-height: 100%; */
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: auto;
}
section.hero .overlay-hero {
    /* background-color: rgba(45, 97, 158, 0.5); */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
section.hero .inner-hero {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.header .right-part {
    float: right;
}
.header .left-part {
    float: left;
}
.header .logo {
    display: block;
    height: 60px;
    width: 60px;
    position: fixed;
    z-index: 99;
    margin-left: 40px;
    margin-top: 40px;
}
.hero-text {
    color: #ffffff;
    position: relative;
    text-align: left;
    top: 60%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.hero-text h1 {
    font-size: 36px;
    color: #fff;
    line-height: 48px;
    letter-spacing: 1px;
    position: relative;
    display: block;
}

/* .hero-text ul li:before{
    content: "";
    position: relative;
    bottom:2px;
} */

.hero-text ul{
    margin-top: 20px;
    list-style-image: url('http://localhost/laundryroom/img/site/tick.svg');
    list-style-position: inside
}
.hero-text ul li{
    font-size:18px;
    line-height:2;
}

.hero-text h1.line-left:before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 60px;
    background: #ffffff;
    left: -25px;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
}
.hero-text p {
    font-size: 18px;
    line-height: 25px;
}
.header .toggle-navigation {
    display: block;
    z-index: 1002;
    margin-right: 40px;
    margin-top: 60px;
    position: relative;
}
.header .toggle-navigation a {
    display: block;
    height: 25px;
    width: 28px;
}

.toggle-navigation.right-part.active h5 {
    visibility: hidden;
}

.toggle-navigation.right-part h5{
    position: relative;
    right: 6px;
    color: white;
}

.header .toggle-navigation .lines {
    transform: translate(0px, 10px) rotate(0deg);
    -webkit-transform: translate(0px, 10px) rotate(0deg);
    -ms-transform: translate(0px, 10px) rotate(0deg);
    -moz-transform: translate(0px, 10px) rotate(0deg);
}
.header .toggle-navigation .lines,
.header .toggle-navigation .lines:after,
.header .toggle-navigation .lines:before {
    height: 2px;
    width: 28px;
}
.header .toggle-navigation .lines:after,
.header .toggle-navigation .lines:before {
    content: " ";
    display: block;
}
.header .toggle-navigation .lines:after {
    transform: translate(0px, 4px) rotate(0deg);
    -webkit-transform: translate(0px, 4px) rotate(0deg);
    -ms-transform: translate(0px, 4px) rotate(0deg);
    -moz-transform: translate(0px, 4px) rotate(0deg);
}
.header .toggle-navigation .lines:before {
    transform: translate(0px, -4px) rotate(0deg);
    -webkit-transform: translate(0px, -4px) rotate(0deg);
    -ms-transform: translate(0px, -4px) rotate(0deg);
    -moz-transform: translate(0px, -4px) rotate(0deg);
}
.header .toggle-navigation .toggle-nav-canvas .lines:after,
.header .toggle-navigation .toggle-nav-canvas .lines:before {
    background: #efefef;
}
.header .toggle-navigation.active .lines:after {
    transform: translate(0px, -1px) rotate(45deg);
    -webkit-transform: translate(0px, -1px) rotate(45deg);
    -ms-transform: translate(0px, -1px) rotate(45deg);
    -moz-transform: translate(0px, -1px) rotate(45deg);
}
.header .toggle-navigation.active .lines:before {
    transform: translate(0px, 1px) rotate(-45deg);
    -webkit-transform: translate(0px, 1px) rotate(-45deg);
    -ms-transform: translate(0px, 1px) rotate(-45deg);
    -moz-transform: translate(0px, 1px) rotate(-45deg);
}


/* End hero section*/


/*About section*/

.inline-content {
    position: relative;
}
.img-content.radius {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    margin-left: 15px;
}
.img-block.relative img {
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.intro-content {
    background: #468ee4;
	overflow:hidden;
	position:relative;
}
.intro-content.push-right {
    padding: 80px 89px 80px 70px;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    margin: 25px 0;
    position: relative;
    width: 57.1%;
}
.intro-content.push-right:before {
    border-bottom: 1190px solid #2d619e;
    border-left: 867px solid rgba(0, 0, 0, 0);
    border-right: 1450px solid rgba(0, 0, 0, 0);
    bottom: -882px;
    content: "";
    height: 0;
    opacity: 0.10;
    position: absolute;
    right: -523px;
    transform: rotate(-63.9deg);
	-webkit-transform: rotate(-63.9deg);
	-moz-transform: rotate(-63.9deg);
	-ms-transform: rotate(-63.9deg);
    width: 0;
}
.intro-content.relative {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    padding: 100px 0;

}
.intro-content.relative:before {
    border-bottom: 1139px solid #2d619e;
    border-left: 873px solid rgba(0, 0, 0, 0);
    border-right: 1450px solid rgba(0, 0, 0, 0);
    bottom: -688px;
    content: "";
    height: 0;
    opacity: 0.10;
    position: absolute;
    right: -450px;
    transform: rotate(-59.9deg);
	-webkit-transform: rotate(-59.9deg);
	-moz-transform: rotate(-59.9deg);
	-ms-transform: rotate(-59.9deg);
    width: 0;
}
.intro-content h2 {
    color: #ffffff;
    font-size: 20px;
    color: #fff;
}
.intro-content p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    -webkit-transform: translateZ(0);
}
.intro-content.relative p {
    width: 60%;
    margin: 0 auto;
}
.intro-content.relative h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
}
.intro-content.relative img {
    width: 14%;
}
.plus-btn {
    background: #468ee4;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    height: 40px;
    line-height: 42px;
    position: absolute;
    right: -55px;
    text-align: center;
    top: -40px;
    width: 40px;
}
.plus-btn {
    background: #468ee4 none repeat scroll 0 0;
    border-radius: 50px;
	-webkit-border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    height: 40px;
    line-height: 42px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -57px;
    width: 40px;
}
.plus-btn:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}


/*End about section*/


/*Quote section*/

.quote-content h4 {
    color: #468ee4;
    font-size: 20px;
}
.quote-content.img h4 {
    color: #ffffff;
}
.quote-content.img .but.line:before {
    background: #ffffff;
}
.quote-box > div[class*="col-"] {
    z-index: 2;
}


/*End quote section*/


/*Testimonials section*/

.img-content {
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.absolute-left {
    left: 0;
}
.absolute-right {
    right: 0;
}
.split-container {
    position: relative;
}
.background-img img {
    display: none;
}
.background-img {
    width: 100%;
}
.background-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    background-color: #333333;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-image: none;
    background-position: 50% 50% !important;
    background-repeat: repeat;
    background-size: cover !important;
}
.split-container div[class*="col-"]:not(.split-img-content) {
    float: none;
}
.split-push {
    margin-left: 7%;
}
.block-quote h6 {
    font-size: 15px;
    color: #ffffff;
}
.block-quote h6 span {
    font-size: 10px;
    text-transform: uppercase;
}
.block-quote blockquote {
    font-size: 21px;
    width: 72%;
    line-height: 36px;
    margin-bottom: 20px;
}


/*End testimonials section*/


/*Services section*/

.expertise-block {
    position: relative;
    display: block;
}
.shorten-content div.row:nth-child(3) .expertise-block.shorten:after {
    background: none;
}
.expertise-block.shorten:after {
    background: #cccccc;
    content: "";
    height: 52px;
    position: absolute;
    width: 1px;
    top: 82px;
    left: 50%;
}
.expertise-block i {
    color: #468ee4;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.expertise-block.shorten i {
    font-size: 30px;
}
.expertise-block h6 {
    font-size: 15px;
}
.expertise-block p {
    width: 70%;
    margin: 0 auto;
}
p.column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
}


/*End services section*/


/*Pricing section*/

.block-table .table {
    background: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.block-table .table h6 {
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}
.block-table .table h6:after {
    background: #cccccc;
    bottom: -75px;
    content: "";
    height: 45px;
    left: 50%;
    position: absolute;
    width: 1px;
}
.block-price {
    color: #468ee4;
}
.block-price span.price {
    font-size: 60px;
}
.block-price span.per {
    font-size: 13px;
    display: block;
    color: #767676;
}
.block-table .table ul > li {
    line-height: 55px;
    color: #343434;
}
.block-table div[class*="col-"]:nth-child(2) .table {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.block-table div[class*="col-"]:nth-child(2) .table:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
}


/*End pricing section*/


/*Client section*/

#client-carousel li {
    text-align: center;
}
#client-carousel li img {
    opacity: 0.4;
    width: 50%;
}


/*End client section*/


/*Team section*/

.team-block {
    position: relative;
    overflow: hidden;
}
.team-block:hover .team-info h6 {
    top: 50px;
}
.team-block:hover .team-socials {
    bottom: 50px;
}
.team-info {
    position: absolute;
    background: rgba(70, 142, 229, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -weobkit-transition: all 0.3s ease 0s;
}
.team-info:hover {
    opacity: 1;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -weobkit-transition: all 0.3s ease 0s;
    ;
}
.team-info h6 {
    color: #ffffff;
    font-size: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}
.team-info h6 span {
    color: #ffffff;
    font-size: 10px;
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
}
.team-socials {
    left: 50%;
    position: absolute;
    bottom: -50px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}
.team-socials li {
    display: inline-block;
    margin-right: 10px;
}
.team-socials li a {
    color: #ffffff;
    opacity: .7;
}
.team-socials li a i {
    font-size: 15px;
}
.team-socials li a:hover {
    opacity: 1;
}


/*End team section*/


/*Facts section*/

.overlay:before {
    position: absolute;
    background: #333333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 1;
    content: "";
}
.facts-blocks > div[class*="col-"] {
    z-index: 2;
}
.fact i {
    color: #ffffff;
    font-size: 40px;
}
.fact h3 {
    color: #ffffff;
    font-size: 40px;
}
.fact h3 span {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}


/*End facts section*/


/*Skills section*/

.skills-block {
    text-align: center;
    margin-left: -7%;
}
.progress {
    background: none;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
.skills-list li:last-child .progress {
    margin-bottom: 0;
}
.skills-list li {
    display: inline-block;
    height: 35vh;
    margin-right: 10px;
    width: 50px;
}
.skills-list li:last-child {
    margin-right: 0;
    vertical-align: top;
}
.progress .percentage {
    bottom: 0;
    position: absolute;
    width: 50px;
}
.progress.dv .percentage {
    background-color: #468ee4;
}
.progress.ds .percentage {
    background-color: #777777;
}
.percentage .percent {
    font-size: 11px;
    position: absolute;
    right: -14px;
    top: -30px;
}
.skills-list h4 {
    bottom: 0;
    color: #ffffff;
    font-size: 12px;
    left: 17px;
    position: absolute;
    text-transform: uppercase;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top 0;
    -o-transform-origin: left top;
    z-index: 1;
}
.percentage span {
    color: #ffffff;
    font-size: 10px;
    left: 32px;
    position: absolute;
    text-transform: uppercase;
    top: 25px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: left bottom 0;
    -webkit-transform-origin: left bottom 0;
    -moz-transform-origin: left bottom 0;
    -ms-transform-origin: left bottom;
    -webkit-transform-origin: left bottom 0;
    -o-transform-origin: left bottom;
    z-index: 1;
}


/*End skills section*/


/*Process section*/

.process-block {
    position: relative;
    background: #ffffff;
    padding: 60px 0;
}
.process-block i {
    font-size: 40px;
    color: #468ee4;
    display: block;
    margin-bottom: 10px;
}
.process-block h6 {
    font-size: 18px;
}
.process-block h6 span {
    font-size: 70px;
    display: block;
    font-size: 14px;
    color: #999999;
    margin-top: 10px;
}
.process-block span.big-digit {
    color: #333333;
    font-size: 270px;
    left: 50%;
    opacity: 0.04;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -48%);
    -webkit-transform: translate(-50%, -48%);
    -moz-transform: translate(-50%, -48%);
    -ms-transform: translate(-50%, -48%);
    -o-transform: translate(-50%, -48%);
    font-weight: bold;
}


/*End process section*/


/*Portfolio section*/

.box.work h3 span {
    display: block;
    font-size: 13px;
    color: #999999;
    margin-top: 5px;
}
.block-filter ul {
    display: inline-block;
    position: relative;
}
.filter li {
    display: inline-block;
    font-size: 14px;
    margin: 0 20px;
    position: relative;
}
.filter li a {
    color: #333333;
}
.filter li a:hover {
    color: #468ee4;
}
.filter li a.active:before,
.filter li a.active:after {
    height: 10px;
}
.filter li a.active {
    color: #468ee4;
}
.filter li a:before {
    background: #468ee4;
    content: "";
    height: 0px;
    left: 50%;
    position: absolute;
    width: 1px;
    top: -20px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.filter li a:after {
    background: #468ee4;
    content: "";
    height: 0px;
    left: 50%;
    position: absolute;
    width: 1px;
    bottom: -20px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.disable:before {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 12;
}
.block-details h1 {
    font-size: 30px
}
.block-details ul li {
    line-height: 25px;
}
.block-details ul li span {
    color: #333333;
}
.social-project {
    background: #468ee4;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    position: relative;
}
.social-project:before {
    background: #468ee4;
    content: "";
    height: 45px;
    left: 50%;
    position: absolute;
    top: -38px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    width: 1px;
}
.social-project li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 10px;
}
.social-project li a {
    color: #ffffff;
}
.share-project h4 {
    color: #468ee4;
    font-size: 20px;
}
.project-nav a.but {
    min-width: 200px;
}


/*End portfolio section*/


/*Contact section*/

.map-block {
    height: 500px;
}
.contact-block i {
    margin-bottom: 30px;
    color: #468ee4;
    display: block;
    font-size: 30px;
}
.contact-block h4 {
    font-size: 20px;
    position: relative;
}
.contact-block h4:before {
    background: #efefef;
    content: "";
    height: 35px;
    left: 50%;
    position: absolute;
    top: -38px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    width: 1px;
}
.contact-form,
.reply-form {
    position: relative;
}
.input-columns .column-1,
.input-columns .column-2 {
    float: left;
    width: 50%;
}
.input-columns .column-1 .column-inner {
    padding: 0 25px 0 0;
}
.contact-form input[type="text"],
.contact-form textarea,
.reply-form input[type="text"],
.reply-form textarea {
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-family: 'Lora-Italic', "Helvetica", "Arial", sans-serif;
    margin: 0 0 25px;
    outline: 0 none;
    overflow: hidden;
    padding: 18px 20px;
    resize: none;
    width: 100%;
}
.contact-form input[type="text"]:focus,
.contact-form textarea:focus,
.reply-form input[type="text"]:focus,
.reply-form textarea:focus {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}
.contact-form textarea,
.reply-form textarea {
    font-family: 'Lora-Italic', "Helvetica", "Arial", sans-serif;
    width: 100%;
}
.contact-form .submit,
.reply-form .submit {
    cursor: pointer;
    position: relative;
    background: none;
    padding: 10px 35px;
}
.contact-form .submit:hover {
    background: #468ee4;
    color: #ffffff;
    border: 2px solid #387bcc;
}
.success,
.error {
    display: none;
    position: relative;
}
.success h2,
.error h2 {
    font-size: 11px;
    left: 0;
    position: absolute;
    text-transform: none;
    top: -50px;
}
.error h2 {
    color: #468ee4;
}
.success h2 {
    color: #767676;
}
.errorForm {
    border: 2px solid #387bcc !important;
}


/*End contact section*/


/*Footer*/

.footer {
    border-top: 1px solid #efefef;
    position: relative;
}
.footer .plus-btn {
    position: absolute;
    right: -10%;
    top: -20px;
    z-index: 100;
    opacity: 0;
    line-height: 38px;
}
.footer:hover .plus-btn {
    right: 10%;
    opacity: 1;
}
.footer .logo {
    display: inline-block;
    /* height: 60px; */
    width: 60px;
}
.footer p {
    font-size: 11px;
    text-transform: uppercase;
    color: #333333;
}


/*End footer*/


/*Media queries*/

@media screen and (max-width: 1366px) {
    .inner-wrapper {
        margin: 0;
    }
    .hero-text h1 {
        font-size: 32px;
    }
    .header .logo {
        margin-left: 23px;
    }
    .header .toggle-navigation {
        margin-right: 23px;
    }
    .intro-content.relative p {
        width: 71%;
    }
    .skills-list li {
        margin-right: 5px;
        width: 45px;
    }
    .progress .percentage {
        width: 45px;
    }
    .skills-list h4 {
        left: 14px;
    }
    .percentage span {
        left: 28px;
    }
    .process-block span.big-digit {
        font-size: 255px;
    }
    .skills-list li {
        height: 50vh;
    }
    .block-quote blockquote {
        width: 100%;
    }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
	.intro-content.relative:before {
	  	border-bottom: 1139px solid #2d619e;
	    border-left: 863px solid rgba(0, 0, 0, 0);
	    border-right: 1450px solid rgba(0, 0, 0, 0);
	    bottom: -750px;
	    right: -450px;
	    transform: rotate(-63.2deg);
		-webkit-transform: rotate(-63.2deg);
		-moz-transform: rotate(-63.2deg);
		-ms-transform: rotate(-63.2deg);
	}
	.intro-content.push-right:before {
	 	border-bottom: 1209px solid #2d619e;
	    border-left: 757px solid rgba(0, 0, 0, 0);
	    border-right: 1450px solid rgba(0, 0, 0, 0);
	    bottom: -994px;
	    right: -392px;
	    transform: rotate(-72.9deg);
		-webkit-transform: rotate(-72.9deg);
		-moz-transform: rotate(-72.9deg);
		-ms-transform: rotate(-72.9deg);
	}
	.plus-btn{
		top:-42px;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    .inner-wrapper {
        margin: 0;
    }
    .hero-text h1 {
        font-size: 35px;
    }
    .hero-text h1.line-left:before {
        content: " ";
    }
    .header .logo {
        margin-left: 40px;
    }
    .header .toggle-navigation {
        margin-right: 40px;
    }
    .intro-content.relative p {
        width: 70%;
    }
    .skills-list li {
        margin-right: 10px;
        width: 50px;
    }
    .skills-list h4 {
        left: 17px;
    }
    .percentage span {
        left: 32px;
    }
    .process-block span.big-digit {
        font-size: 270px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
	.logo{background:red;}
	.intro-content.relative:before {
	  	border-bottom: 1139px solid #2d619e;
	    border-left: 857px solid rgba(0, 0, 0, 0);
	    border-right: 1450px solid rgba(0, 0, 0, 0);
	    bottom: -750px;
	    right: -450px;
	    transform: rotate(-63.4deg);
		-webkit-transform: rotate(-63.4deg);
		-moz-transform: rotate(-63.4deg);
		-ms-transform: rotate(-63.4deg);
	}
	.intro-content.push-right:before {
	 	border-bottom: 1209px solid #2d619e;
	    border-left: 757px solid rgba(0, 0, 0, 0);
	    border-right: 1450px solid rgba(0, 0, 0, 0);
	    bottom: -994px;
	    right: -392px;
	    transform: rotate(-72.9deg);
		-webkit-transform: rotate(-72.9deg);
		-moz-transform: rotate(-72.9deg);
		-ms-transform: rotate(-72.9deg);
	}
	.plus-btn{
		top:-42px;
	}
    .main-lead p {
        font-size: 15px;
    }
    .skills-list li {
        height: 50vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
	.logo{background:red;}
    .inner-wrapper {
        margin: 0;
    }
    .header .logo {
        position: absolute;
    }
    .hero-text p {
        font-size: 16px;
        line-height: 28px;
    }
    .hero-text h1.line-left:before {
        content: none;
    }
    .split-container .background-img img {
        display: block;
    }
    .split-container .img-content {
        overflow: visible;
        position: relative;
    }
    .img-content {
        width: 100%
    }
    .intro-content.relative img {
        width: 20%;
    }
	.intro-content.relative:before {
	    border-bottom: 1139px solid #2d619e;
	    border-left: 850px solid rgba(0, 0, 0, 0);
	    border-right: 1450px solid rgba(0, 0, 0, 0);
	    bottom: -869px;
	    right: -450px;
	    transform: rotate(-71.6deg);
		-webkit-transform: rotate(-71.6deg);
		-moz-transform: rotate(-71.6deg);
		-ms-transform: rotate(-71.6deg);
	}
    .intro-content.push-right {
        border-radius: 0;
    }
	.intro-content.push-right:before {
	   	border-bottom: 1209px solid #2d619e;
	    border-left: 801px solid rgba(0, 0, 0, 0);
	    border-right: 1450px solid rgba(0, 0, 0, 0);
	    bottom: -882px;
	    right: -369px;
		transform: rotate(-61.9deg);
		-webkit-transform: rotate(-61.9deg);
		-moz-transform: rotate(-61.9deg);
		-ms-transform: rotate(-61.9deg);
	}
	.plus-btn{
		top:-60px;
	}
    .split-container .img-content.radius {
        border-radius: none;
        margin-left: 0;
    }
    .split-container .background-img {
        position: relative;
    }
    .split-container .intro-content.push-right {
        width: auto;
        margin: 0;
    }
    .block-quote blockquote {
        width: 100%;
    }
    .skills-list li {
        height: 50vh;
    }
	.team-socials li{
		margin-right:3px;
	}
    .separator-line {

    }
    .expertise-block.shorten:after {
        content: none;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    section.hero.index {
        height: 580px !important;
    }
    section.hero {
        height: 450px !important;
    }
    .header .logo {
        position: absolute;
    }
    .hero-text.index h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .hero-text h1.line-left:before {
        content: none;
    }
    .main-lead h3 {
        font-size: 25px;
    }
    .main-lead p {
        font-size: 15px;
    }
    .split-container .background-img img {
        display: block;
    }
    .split-container .img-content {
        overflow: visible;
        position: relative;
    }
    .intro-content.push-right,
    .img-content.radius {
        border-radius: 0;
    }
    .img-content {
        width: 100%
    }
    .split-container .img-content.radius {
        border-radius: none;
        margin-left: 0;
    }
	.intro-content.relative:before,.intro-content.push-right:before {
	  content:none;
	}
	.plus-btn {
        right: -35px;
		top: -40px;
    }
    .split-container .background-img {
        position: relative;
    }
    .split-container .intro-content.push-right {
        width: auto;
        margin: 0;
    }
    .block-quote blockquote {
        width: 100%;
    }
    .expertise-block,
    .box,
    .team-block,
    .process-block,
    .contact-block,
    .fact,
	.table,
    .block-nav a.but {
        margin-bottom: 30px;
    }
	.row:last-child .col-sm-4:last-child .box,
	.container:last-child .row .col-sm-4:last-child .expertise-block,
	.row .col-sm-6:last-child .box,
    .row .col-sm-4:last-child .team-block,
	.row .col-md-4:last-child .table,
    .row .col-sm-4:last-child .process-block,
    .block-nav .row .col-sm-4:last-child a.but,
    .row .col-sm-3:last-child .fact,
    .row .col-sm-4:last-child .contact-block,
    .works .row.mb-30 {
        margin-bottom: 0 !important;
    }
    .separator-line {
        display: none;
    }
    .quote-content h4 {
        font-size: 18px;
    }
    .expertise-block.shorten:after {
        content: none;
    }
    .intro-content.relative img {
        width: 30%;
    }
    .skills-list li {
        height: 100vh;
    }
    p.column {
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
    .fact h3,
    .fact i {
        font-size: 30px;
    }
    .fact h3 span {
        font-size: 14px;
    }
    #services-carousel .owl-controls {
        bottom: 20px !important;
        left: 20px !important;
    }
    .shorten-content.mt-100,
	.shorten-content .row.mt-70 {
        margin-top: 50px !important;
    }
    .filter li {
        display: block;
        margin: 40px 0;
    }
    .filter li:first-child {
        margin-top: 20px;
    }
    .filter li:last-child {
        margin-bottom: 0;
    }
    .social-project li {
        margin: 0 4px;
    }
    .input-columns .column-1 .column-inner {
        padding: 0;
    }
    .input-columns .column-1,
    .input-columns .column-2,
    .contact-form .submit,
    .reply-form .submit {
        width: 100%;
    }
}
@media only screen and (max-width: 479px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    .hero-text h1.line-left:before {
        content: none;
    }
    section.hero.index {
        height: 750px !important;
    }
    section.hero {
        height: 550px !important;
    }
    .header .logo {
        position: absolute;
    }
    .hero-text.index h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .main-lead h3 {
        font-size: 25px;
    }
    .main-lead p {
        font-size: 15px;
    }
    .split-container .background-img img {
        display: block;
    }
    .split-container .img-content {
        overflow: visible;
        position: relative;
    }
    .intro-content.push-right,
    .img-content.radius {
        border-radius: 0;
    }
    .intro-content.push-right {
        padding: 80px 60px 80px 40px;
    }
	.intro-content.relative:before,.intro-content.push-right:before {
	  content:none;
	}
    .plus-btn {
        right: -35px;
    }
    .img-content {
        width: 100%
    }
    .split-container .img-content.radius {
        border-radius: none;
        margin-left: 0;
    }
    .split-container .background-img {
        position: relative;
    }
    .split-container .intro-content.push-right {
        width: auto;
        margin: 0;
    }
    .block-quote blockquote {
        width: 100%;
    }
    .expertise-block,
    .box,
    .team-block,
    .process-block,
    .contact-block,
    .fact,
    .block-nav a.but,
	.table {
        margin-bottom: 30px;
    }

	.row:last-child .col-sm-4:last-child .box,
	.container:last-child .row .col-sm-4:last-child .expertise-block,
	.row .col-sm-6:last-child .box,
	.row .col-md-4:last-child .table,
    .row .col-sm-4:last-child .team-block,
    .row .col-sm-4:last-child .process-block,
    .block-nav .row .col-sm-4:last-child a.but,
    .row .col-sm-3:last-child .fact,
    .row .col-sm-4:last-child .contact-block,
    .works .row.mb-30 {
        margin-bottom: 0 !important;
    }
    .separator-line {
        display: none;
    }
    .quote-content h4 {
        font-size: 18px;
    }
    .expertise-block.shorten:after {
        content: none;
    }
    .intro-content.relative img {
        width: 40%;
    }
    .skills-list li {
        height: 70vh;
        width: 28px;
    }
    .progress .percentage {
        width: 28px;
    }
    .skills-list h4 {
        left: 6px;
    }
    .percentage span {
        left: 20px;
    }
    p.column {
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
    .fact h3,
    .fact i {
        font-size: 30px;
    }
    .fact h3 span {
        font-size: 14px;
    }
    #services-carousel .owl-controls {
        bottom: 20px !important;
        left: 20px !important;
    }
    .shorten-content.mt-100,
	.shorten-content .row.mt-70 {
        margin-top: 50px !important;
    }
	.filter li {
        display: block;
        margin: 40px 0;
    }
    .filter li:first-child {
        margin-top: 20px;
    }
    .filter li:last-child {
        margin-bottom: 0;
    }
    .social-project li {
        margin: 0 4px;
    }
    .input-columns .column-1 .column-inner {
        padding: 0;
    }
    .input-columns .column-1,
    .input-columns .column-2,
    .contact-form .submit,
    .reply-form .submit {
        width: 100%;
    }
}


/*End media queries*/
